{{template "header" .}}
<div class="text-center">
    <h1 class="">{{ .title }}</h1>
</div>
<br/>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">操作</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .list }}
                    <tr>
                        <td><a href="http_modify?i={{ .index }}">{{ .name }}</a></th>
                        <td><button class="btn btn-primary" onclick="remove({{ .index }});return false;">删除</button></td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
            <br/>
            <button type="button" class="btn btn-primary" style="float:right;" onclick="click_add()">Add</button>
        </div>
    </div>
</div>

<script>

function remove(index) {
    $.post("./apis/del/http", {index:index}, function(data, status) {
        window.location.reload();
    });
}

function click_add()
{
    $.post("./apis/add/http", function(data, status) {
        window.location.href = "http_modify?i=" + data.msg
    });
}
</script>

{{template "footer" .}}